{% extends 'base.html' %} {% block content %} {% comment %}
<h1>Image Capture</h1>
<div id="camera-area">
  <video id="video"></video>
  <button id="capture-btn">Capture Image</button>
  <canvas id="canvas" style="display: none"></canvas>
</div>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">mark attendance</button> {% endcomment %}
  <div class="container">
    <h1>Capture and Upload Image</h1>
    <video id="video" autoplay></video>
    <button id="captureBtn">Capture Image</button>
    <canvas id="canvas" style="display: none"></canvas>
    <img id="photo" alt="Captured Image" />

    <form id="uploadForm" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="image_data" id="imageData" />
      <button type="submit">Upload</button>
    </form>
  </div>

  {% comment %}
</form>
{% endcomment %} {% endblock %}
