{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'attendance.css' %}" />
<h2>Mark Your attendance</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="video_container">
  <div class="video_display video_box">
    <video id="video" autoplay width="300" height="200"></video>
    <button id="capture">Take Photo</button>
    <canvas id="canvas" width="300" height="200" style="display: none"></canvas>
    <input type="hidden" name="image_data" id="image_data" />
  </div>
  <div id="time-options video_box">
    {% for a, b in roster_list %}
      <input type="radio" name="selected_time" id="time_{{ hours }}" value="{{ a }}:{{b}}">
      <label for="time_{{ hours }}">{{ a }} hours : {{ b }} shift</label><br>
    {% endfor %}
  </div>
</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // JavaScript to capture image from webcam - put this in a separate app.js file
  const video = document.getElementById("video");
  const canvas = document.getElementById("canvas");
  const captureButton = document.getElementById("capture");
  const imageDataInput = document.getElementById("image_data");
  console.log("zero");
  // Access webcam
  navigator.mediaDevices
    .getUserMedia({ video: true })
    .then((stream) => {
      video.srcObject = stream;
      video.play();
    })
    .catch((error) => console.error("Error accessing camera:", error));
  console.log("one");
  // Capture image
  captureButton.addEventListener("click", () => {
    const context = canvas.getContext("2d");
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const dataURL = canvas.toDataURL("image/jpeg");
    imageDataInput.value = dataURL;
  });
</script>
{% endblock content %}
