{% extends 'base.html' %} {% block content %}
<div class="content-container roster_form_container ">
  <h2>Roster Form</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="working_days">Working Days:</label>
    {{ form.working_days }}
    <small class="form-text text-muted"
      >Select the days the staff member is expected to work.</small
    >

    <label for="shifts">Shifts:</label>
    {{ form.shifts }}
    <small class="form-text text-muted">Specify the shift timings.</small>

    <label for="shifts">Staff name:</label>
    <select id="staff-select" name="username">
      {% for name in staff_list %}
      <option value="{{ name }}">{{ name }}</option>
      {% endfor %}
    </select>
    <small class="form-text text-muted">select the staff name.</small>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
