{% extends 'base.html' %} {% block content %}
<div class="content-container">
  <div class="container_one">
    {% if request.user.is_authenticated %}
    <a href="/logout">Logout</a>
    {% if role == "1"%}
    <a href="/mark_attendance">Mark your attendance</a>
    {%endif%}
    <a href="/roster_list">Roster List</a>

    {% else %}
    <a href="/register">Register new user</a>
    <a href="/login">Login</a>
    {% endif %}
  </div>
  <br />
  <div class="container_two">
    <div>
      <h2>Manager Access Only</h2>
      <a href="/create_roster">Create Roster</a><br />
    </div>
  </div>
</div>
{% endblock %}
